<section>
	<aside>What is this?</aside>
	<article>Brandeis.io</article>
</section>

<section>
	<aside>Why make another hackathon? Isn't there one like, every month?</aside>
	<article>Just hop on over to GitHub, and follow the instructions from there.</article>
</section>

<section>
	<aside>Who made it?</aside>
	<article>This is is designed by Thoughbot, a consultancy.</article>
</section>
